
.topOffer{
    color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    /*/../public/img/place-parallax.jpeg*/
    background-attachment: fixed;
    background-image: url('http://localhost:3000/img/place-parallax.jpeg');
}
.topOfferText{
    padding: 30px;
    background-color: rgba(0,0,0,0.6);
    margin: 14px;
}
.offerRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.offerCol{
    min-width: 300px;
    width: 30%;
    display: flex;
    align-items: center;
    padding: 14px;
    flex-direction: column;
    text-align: left;
    background-color: rgba(0,0,0,0.6);
    margin: 14px;
}
.offerImage{
    filter: invert(90%);
    height: 220px;
    margin:30px 0;
}
.centerImage{
    height: 270px;
}
h4,h3{
    background-color: rgba(0,0,0,0.6);
    margin:20px 0;
    padding: 14px;
}