.personImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:20px solid #111111;
    background-color: #111111;
    object-fit: contain;
}

.personRow{
    display: flex;
    align-items: center;
}

.personInfoBadge{
    background-color: #111111;
    color:lightgrey;
    padding: 10px;
}