.filterBlock{
    background-color: #111;
    padding: 24px;
    color: white;
    display: flex;
    flex-direction: column;
}
.personImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:20px solid #111111;
    background-color: #111111;
    object-fit: contain;
    margin-left: 40px;
}

.personRow{
    display: flex;
    align-items: center;
}

.personInfoBadge{
    background-color: #111111;
    color:lightgrey;
    padding: 10px;
}