.filterBlock{
    background-color: #111;
    padding: 24px;
    color: white;
    display: flex;
    flex-direction: column;
}
.personImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:20px solid #111111;
    background-color: #111111;
    object-fit: contain;
    margin-left: 40px;
}

.personRow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.personInfoBadge{
    background-color: #111111;
    color:lightgrey;
    padding: 10px;
}

.topOffer{
    color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    /*/../public/img/place-parallax.jpeg*/
    background-attachment: fixed;
    background-image: url('http://localhost:3000/img/place-parallax.jpeg');
}
.topOfferText{
    padding: 30px;
    background-color: rgba(0,0,0,0.6);
    margin: 14px;
}
.offerRow{
    display: flex;
}
.offerCol{
    /*width: 33%;*/
    display: flex;
    padding: 14px;
    flex-direction: column;
    text-align: left;
    background-color: rgba(0,0,0,0.6);
    margin: 14px;
}

.personDescription{

}