.eventSlider{
    height: 600px;
}

.eventDescription{
    padding: 20px;
    color:white;
    width: 100%;
}

.eventDescription_headlines{
    padding: 10px;
    text-align: center;
    border-bottom:2px solid white;
}

.commentForm{
    display: flex;
    flex-direction: column;
    background-color: #111111;
    padding: 10px;
}

.commentForm_title{
    margin: 10px 0;
    text-align: center;

}
.offerImage{
    filter: invert(100%);
    width: 300px;
}
@media screen and (max-width: 378px) {
    .formIcon{
        display: none;
    }
}
