.message {
    display: flex;
    padding: 10px;
    color: white;
    margin: 4px;
    width: 90%;
}

.myMessage {
    background-color: #DE4564;
}

.hisMessage {
    margin-left: 20px;
    background-color: #43a17c;
}

.messageText {
    flex-grow: 4;
}

.messageDatetime {
    flex-grow: 1;
    font-size: 0.7em;
}