/* Глобальные стили */
body {
    background-color: #222;
}

.select-dropdown {
    color: white;
}

.datepicker {
    color: white;
}

.datepicker-row > * {
    color: gray;
}

.datepicker-row > .is_selected {
    color: white;
}

.material-icons {
    color: lightgrey;
}

.materialize-textarea {
    color: lightgrey;
}

input {
    color: white !important;;
}

.carousel {
    max-height: 600px;
}

.materialboxed {
    max-width: 400px;
}

main {
    min-height: 600px;
}

#root {
    overflow: hidden;
}

#mobile-nav {
    background-color: #222;
}

.btn:hover, .btn-large:hover {
    transform: scale(105%);
    transition: all 0.3s ease-in-out;
}